@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 7px;
    border-radius: 50%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
    border-radius:10px;
    margin-top: 8px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #E1E1E1;
    border-radius:10px;
  }
  
  